{% extends 'base.html' %}
{% block nav %}

<nav id="navbar-main" class="navbar navbar-main navbar-expand-lg navbar-dark bg-info  py-2">
    <div class="container">
      <a class="navbar-brand mr-lg-5" href="#">
        <img src="static/assets/img/logo.png">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse" id="navbar_global">
        <div class="navbar-collapse-header">
          <div class="row">
            <div class="col-6 collapse-brand">
              <a href="#">
                <img src="static/assets/logo.png">
              </a>
            </div>
            <div class="col-6 collapse-close">
              <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">
                <span></span>
                <span></span>
              </button>
            </div>
          </div>
        </div>
        <ul class="navbar-nav navbar-nav-hover align-items-lg-center ml-lg-auto">
          
            
          
          <li class="nav-item dropdown">
            <a href="javascript:;" class="nav-link" data-toggle="dropdown" role="button">
              <i class="ni ni-single-copy-04 d-lg-none"></i>
              <span class="nav-link-inner--text">Categories</span>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="./blog">
                <i class="ni ni-tie-bow text-warning"></i>
                College Memories
              </a>
              <a class="dropdown-item" href="./blog">
                <i class="ni ni-align-center text-info"></i>
                Business Journey
              </a>
              <a class="dropdown-item" href="./blog">
                <i class="ni ni-chart-bar-32 text-yellow"></i>
                Life Experience
              </a>
              <a class="dropdown-item" href="./blog">
                <i class="ni ni-square-pin text-danger"></i>
                Sucess Story
              </a>
              <a class="dropdown-item" href="./blog">
                <i class="ni ni-planet text-purple"></i>
                Entrepreneurship
              </a>
              <a class="dropdown-item" href="./blog">
                <i class="ni ni-money-coins text-success"></i>
                Technologies
              </a>
              <a class="dropdown-item" href="./blog">
                <i class="ni ni-box-2 text-pink"></i>
                After College
              </a>
              <a class="dropdown-item" href="./blog">
                <i class="ni ni-bag-17 text-primary"></i>
                Alumns company
              </a>
              <a class="dropdown-item" href="./blog">
                <i class="ni ni-circle-08 text-info"></i>
                Alumns Giveaway
              </a>
              
              </a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a href="javascript:;" class="nav-link" data-toggle="dropdown" role="button">
              <i class="ni ni-tablet-button d-lg-none"></i>
              <span class="nav-link-inner--text">Account</span>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="./account-settings">
                <i class="ni ni-lock-circle-open text-muted"></i>
                Profile Settings
              </a>
              <a class="dropdown-item" href="login-page.html">
                <i class="ni ni-tv-2 text-danger"></i>
                Write a Blog
              </a>
              <a class="dropdown-item" href="register-page.html">
                <i class="ni ni-air-baloon text-pink"></i>
                Your Blogs
              </a>
              <a class="dropdown-item" href="reset-page.html">
                <i class="ni ni-atom text-info"></i>
                Saved Blogs
              </a>
              <a class="dropdown-item" href="invoice-page.html">
                <i class="ni ni-bullet-list-67 text-success"></i>
                Reset Password
              </a>
              
            </div>
          </li>
          <li class="nav-item">
            <a href="https://alumni.iitbhu.ac.in/" class="btn btn-outline-white" target="_blank">
              <i class="ni ni-laptop d-lg-none"></i>
              <span class="nav-link-inner--text">VISIT SAIC WEBSITE</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="https://www.creative-tim.com/product/argon-design-system-pro" class="btn btn-white" target="_blank">
              <i class="ni ni-basket d-lg-none"></i>
              <span class="nav-link-inner--text">LOGIN/SIGNUP</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


<div class="wrapper" style="background-color: #24cae8;">
  <div class="page-header header-video" style="min-height:60vh;">
    <div class="overlay"></div>
    
    {% comment %} <div class="container text-center">
      <div class="row">
        <div class="col-lg-7 mx-auto">
          <h1 class="video-text">Alumns Diary</h1>
          <h1 class="display-3 text-white">Let's read it!</h1>
          <a href="#" class="btn btn-warning btn-icon mt-3 mb-sm-0">
            <span class="btn-inner--icon"><i class="ni ni-button-play"></i></span>
            <span class="btn-inner--text">Subscribe Newsletter</span>
          </a>
        </div>
      </div>
    </div> {% endcomment %}
  </div> 
</div> 

{% endblock nav %}

{% block login %}

  <!-- End Navbar -->
  <div class="section-shaped my-0 skew-separator skew-mini">
    <div class=" page-header page-header-small header-filter">
      <div class="page-header-image" style="background-image: url('static/assets/img/sections/unsplashs.jpg');">
      </div>
      <div class="container">
        <div class="header-body text-center mb-7">
          <div class="row justify-content-center">
            <div class="col-xl-5 col-lg-6 col-md-8 px-5">
              <h1 class="text-white">Welcome!</h1>
              <p class="text-lead text-white">Use these awesome forms to login or create new account in your project for free.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section class="upper">
    <div class="container">
      <div class="col-lg-5 col-md-8 mx-auto">
        <div class="card bg-secondary shadow border-0">
          <div class="card-header bg-white pb-5">
            <div class="text-muted text-center mb-3"><small>Login with</small></div>
            <div class="btn-wrapper text-center">
              <a href="#" class="btn btn-neutral btn-icon">
                <span class="btn-inner--icon"><img src="static/assets/img/icons/common/github.svg"></span>
                <span class="btn-inner--text">Github</span>
              </a>
              <a href="#" class="btn btn-neutral btn-icon">
                <span class="btn-inner--icon"><img src="static/assets/img/icons/common/google.svg"></span>
                <span class="btn-inner--text">Google</span>
              </a>
            </div>
          </div>
          <div class="card-body px-lg-5 py-lg-5">
            <div class="text-center text-muted mb-4">
              <small>Or login with credentials</small>
            </div>
            <form role="form">
              <div class="form-group mb-3">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                  </div>
                  <input class="form-control" placeholder="Email" type="email">
                </div>
              </div>
              <div class="form-group">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                  </div>
                  <input class="form-control" placeholder="Password" type="password">
                </div>
              </div>
              <div class="custom-control custom-control-alternative custom-checkbox">
                <input class="custom-control-input" id=" customCheckLogin2" type="checkbox">
                <label class="custom-control-label" for=" customCheckLogin2"><span class="text-default opacity-5">Remember me</span></label>
              </div>
              <div class="text-center">
                <button type="button" class="btn btn-primary my-4">Login</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
 
  {% endblock login %}